[Unit]
Description=ISKRA ME162 reader for Domoticz
After=basic.target
[Service]
Type=simple
ExecStart=/usr/local/bin/iskra-me162
Restart=on-abort
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=multi-user.target

